nav button {
    position: absolute;
    right: 2%;
}

#carouselExampleIndicators img {
    height: 60vh;
}

#root {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.section {
    flex: 1;
}

footer {
    background-color: black;
    color: white;
    padding: 5px 0;
}

i {
    cursor: pointer;
}

@media only screen and (max-width:992px) {
    nav button {
        position: static;
    }

    #carouselExampleIndicators img {
        height: 60vh;
    }

    .container {
        padding: 0 1rem;
    }

    h2,
    h3,
    h4 {
        font-size:larger;
    }
}